
body {
    background-color: #f8f9fa;
    padding: 20px;
}

.calculator-container {
    max-width: 450px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    margin-top: 20px;
}

/* style.css */

.calculator-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.calculator-container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#result:hover {
    background-color: #b9bbbd;
    transition: background-color 0.3s ease-in-out;
}
